In [2]:
import pandas as pd
from sklearn.metrics import confusion_matrix

from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report

In [3]:
# Exercises

In [4]:
# 1) Create a new file named model_evaluation.py or model_evaluation.ipynb for these exercises.

In [18]:
# 2) Given the following confusion matrix, evaluate (by hand) the model's performance.
        # |               | pred dog   | pred cat   |
        # |:------------  |-----------:|-----------:|
        # | actual dog    |         46 |         7  |
        # | actual cat    |         13 |         34 |

    # cat = positive class
    # dog = negative class
    
    # In the context of this problem, what is a false positive? (Type 1 error) 
        # You predicted a cat but in reality it gave you a dog
    
    # In the context of this problem, what is a false negative? (Type 2 error)
       # You predicted a dog but in reality it gave you a cat
        
    # How would you describe this model?
    # tp = 34
    # tn = 46
    # fp = 7
    # fn = 13

# accuracy = (tp + tn) / (tp + tn + fp + fn)
# recall = tp / (tp + fn)
# precision = tp / (tp + fp)

IndentationError: unexpected indent (<ipython-input-18-f199854a81a6>, line 17)

In [2]:
# 3) You are working as a datascientist working for Codeup Cody Creator (C3 for short), 
# a rubber-duck manufacturing plant. 

# Unfortunately, some of the rubber ducks that are produced will have defects. 
# Your team has built several models that try to predict those defects, and the data from 
# their predictions can be found here.

# Use the predictions dataset and pandas to help answer the following questions:
df = pd.read_csv('c3.csv')
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [3]:
df.describe()

           actual     model1     model2     model3
count         200        200        200        200
unique          2          2          2          2
top     No Defect  No Defect  No Defect  No Defect
freq          184        190        110        101

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  200 non-null    object
 1   model1  200 non-null    object
 2   model2  200 non-null    object
 3   model3  200 non-null    object
dtypes: object(4)
memory usage: 6.4+ KB

In [5]:
df.shape

(200, 4)

In [6]:
# A) An internal team wants to investigate the cause of the manufacturing defects. 
    # They tell you that they want to identify as many of the ducks that have a defect as possible. 
    # Which evaluation metric would be appropriate here? Which model would be the best fit for this
    # use case?

In [19]:
pd.crosstab(df.actual, df.model1)

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [20]:
y_true = df.actual
y_pred = df.model1

In [21]:
confusion_matrix(y_true, y_pred)

array([[  8,   8],
       [  2, 182]])

In [22]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred, labels = ['No Defect', 'Defect']).ravel()

In [23]:
tn, fp, fn, tp

(182, 2, 8, 8)

In [24]:
pd.crosstab(df.actual, df.model2)

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [25]:
y_true = df.actual
y_pred = df.model2

In [26]:
confusion_matrix(y_true, y_pred)

array([[  9,   7],
       [ 81, 103]])

In [27]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred, labels = ['No Defect', 'Defect']).ravel()

In [28]:
tn, fp, fn, tp

(103, 81, 7, 9)

In [29]:
pd.crosstab(df.actual, df.model3)

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [30]:
y_true = df.actual
y_pred = df.model3

In [31]:
confusion_matrix(y_true, y_pred)

array([[13,  3],
       [86, 98]])

In [32]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred, labels = ['No Defect', 'Defect']).ravel()

In [33]:
tn, fp, fn, tp

(98, 86, 3, 13)

In [34]:
# B) Recently several stories in the local news have come out highlighting customers who received
    # a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to 
    # launch a program that gives customers with a defective duck a vacation to Hawaii. 
    # They need you to predict which ducks will have defects, but tell you the really don't want to 
    # accidentally give out a vacation package when the duck really doesn't have a defect. 
    # Which evaluation metric would be appropriate here? Which model would be the best fit for 
    # this use case?

In [6]:
# 4) You are working as a data scientist for Gives You Paws â„¢, a subscription based service that 
# shows you cute pictures of dogs or cats (or both for an additional fee).

# At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put 
# through a two step process. First an automated algorithm tags pictures as either a cat or 
# a dog (Phase I). Next, the photos that have been initially identified are put through another 
# round of review, possibly with some human oversight, before being presented to the users 
#(Phase II).

# Several models have already been developed with the data, and you can find their results here.

# Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts 
# the most common class) and answer the following questions:
paws = pd.read_csv('gives_you_paws.csv')
paws.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [7]:
# Baseline model (dogs)
paws.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [8]:
paws['baseline_prediction'] = 'dog'

In [9]:
# Baseline accuracy (65%)
(paws.actual == paws.baseline_prediction).mean()

0.6508

In [10]:
# A) In terms of accuracy, how do the various models compare to the baseline model? 
    # Are any of the models better than the baseline?

In [11]:
pd.crosstab(paws.actual, paws.model1)

model1   cat   dog
actual
cat     1423   323
dog      640  2614

In [12]:
y_true = paws.actual
y_pred = paws.model1

In [13]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred, labels = ['cat', 'dog']).ravel()

In [102]:
tn, fp, fn, tp

(1423, 323, 640, 2614)

In [103]:
a = (tp+tn)/(tp+tn+fp+fn)
a

0.8074

In [104]:
pd.crosstab(paws.actual, paws.model2)

model2   cat   dog
actual
cat     1555   191
dog     1657  1597

In [105]:
y_true = paws.actual
y_pred = paws.model2

In [106]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred, labels = ['cat', 'dog']).ravel()

In [107]:
tn, fp, fn, tp

(1555, 191, 1657, 1597)

In [108]:
a = (tp+tn)/(tp+tn+fp+fn)
a

0.6304

In [109]:
pd.crosstab(paws.actual, paws.model3)

model3   cat   dog
actual
cat      893   853
dog     1599  1655

In [110]:
y_true = paws.actual
y_pred = paws.model3

In [111]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred, labels = ['cat', 'dog']).ravel()

In [112]:
tn, fp, fn, tp

(893, 853, 1599, 1655)

In [113]:
a = (tp+tn)/(tp+tn+fp+fn)
a

0.5096

In [114]:
pd.crosstab(paws.actual, paws.model4)

model4  cat   dog
actual
cat     603  1143
dog     144  3110

In [115]:
y_true = paws.actual
y_pred = paws.model4

In [116]:
tn, fp, fn, tp = confusion_matrix(y_true, y_pred, labels = ['cat', 'dog']).ravel()

In [117]:
tn, fp, fn, tp

(603, 1143, 144, 3110)

In [118]:
a = (tp+tn)/(tp+tn+fp+fn)
a

0.7426

In [119]:
# B) Suppose you are working on a team that solely deals with dog pictures. 
    # Which of these models would you recomend for Phase I? For Phase II?

In [ ]:
# Model 4 and 1 should be used in Phase I.
# Model 2 and 3 should be used in Phase II for the best results

In [ ]:
# C) Suppose you are working on a team that solely deals with cat pictures. 
    # Which of these models would you recomend for Phase I? For Phase II?

In [ ]:
# Model 4 and 1 should be used in Phase II.
# Model 2 and 3 should be used in Phase I for the best results

In [6]:
# 5) Follow the links below to read the documentation about each function, then apply those 
# functions to the data from the previous problem.

    # sklearn.metrics.accuracy_score
    # sklearn.metrics.precision_score
    # sklearn.metrics.recall_score
    # sklearn.metrics.classification_report

In [14]:
recall_score(y_true, y_pred, labels = ['cat', 'dog'], average = None)

array([0.81500573, 0.80331899])

In [15]:
precision_score(y_true, y_pred, labels = ['cat', 'dog'], average = None)

array([0.68977218, 0.89002383])

In [17]:
print(classification_report(y_true, y_pred, labels = ['cat', 'dog']))

              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000